<mat-card>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="submit(resetPasswordForm.value)">

  <!-- <input type="password" formControlName="passwordControl" placeholder="Enter your new password?">
  <input type="password" formControlName="confirmPasswordControl" placeholder="Re-enter your new password?"> -->
  <div class="logo">
    <img src="assets/icons/logo-name-v2.svg" alt="Research Capsule" class="logo-image image-register">
    <h1 class="h1-align-left">Reset password <span class="reset-password-text">Choosing a strong, unique password and keeping it secure is essential
      to protecting your personal information."</span></h1>
  </div>
  <div class="right-and-left-input-fields">
  <mat-form-field appearance="outline" [hideRequiredMarker]="true" >
    <mat-label>Password</mat-label>
      <input
            type="{{showPassword}}"
            type="password"
            matInput
            placeholder="Ex. Password123!"
            formControlName="passwordControl"
            [errorStateMatcher]="matcher"
            [ngClass]="{'valid-password': resetPasswordForm.get('password')?.valid}">

        <mat-error class="width-message"  *ngIf="passwordFormControl.hasError('required')">
            <mat-icon>error</mat-icon>At least 8 characters, containing letters, numbers, & symbols.
        </mat-error>
        <mat-error class="width-message" *ngIf="passwordFormControl.hasError('pattern')">
              <mat-icon>error</mat-icon>Please enter a password with at least 8 characters, containing letters, numbers, & symbols.
        </mat-error>

          <mat-hint class="width-message" *ngIf="!resetPasswordForm.get('password')?.valid && (passwordFormControl.hasError('required') || passwordFormControl.hasError('pattern'))"><mat-icon>info_outline</mat-icon>At least 8 characters, containing letters, numbers, & symbols.
          </mat-hint>
          <mat-hint *ngIf="passwordValidMessage" class="password-hint" [ngClass]="{'valid-password': resetPasswordForm.get('passwordControl')?.valid}"><mat-icon>check_circle</mat-icon>{{ passwordValidMessage }}
          </mat-hint>
  </mat-form-field>








  <mat-form-field appearance="outline" [hideRequiredMarker]="true" >
     <mat-label>Confirm Password</mat-label>
         <input
                type="{{showPassword}}"
                type="password"
                matInput
                placeholder="Ex. Password123!"
                formControlName="confirmPasswordControl"
                [errorStateMatcher]="matcher">
    </mat-form-field>
  </div>
    <mat-checkbox class="button-a-link" (change)="toggleShowPassword()" color="primary">Show password</mat-checkbox>
    <br>
    <br>
    <div class="right">
       <button mat-flat-button color="primary" type="submit" [disabled]="!allFieldsFilled">Reset password</button>
    </div>

  </form>
</mat-card>
```
