<div class="error-not-found-container">

  <img class="error-not-found-image" src="assets/icons/401.svg" alt="404 image" title="404 image" />
  <span class="error-not-found-title">Unauthorized Access Prohibited</span>

  <span class="error-not-found-text">Your account does not have sufficient privileges to view this content</span>


  <div class="error-not-found-buttons-container">

     <button mat-flat-button color="primary"  [routerLink]="['/']" title="home url">
          Go back home
        </button>
      <button mat-stroked-button  [routerLink]="['']" title="home url">
          Contact Us
        </button>

  </div>

</div>















<!-- <div class="wrap-error">
  <div class="d-flex align-items-center h-100">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2 text-center text-white">
          <h1 class=""><span>4</span><span>0</span><span>1</span></h1>
          <h5 class="">Unauthorized!</h5>
          <p class="mb-4">You don't have permission to access this page.</p>
          <button class="btn btn-dark" [routerLink]="['/']" title="home url">
            Go to safe place
            </button>
        </div>
      </div>
    </div>
  </div>
</div> -->
