<mat-card>
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" class="login-form">
        <div class="logo">
          <img src="assets/icons/logo-name-v2.svg" alt="Research Capsule" class="logo-image">
          <h1>Login<span>to continue Research Capsule</span></h1>

        </div>

        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
            <mat-label>Email</mat-label>
                <input
                type="email"
                matInput formControlName="email"
                [errorStateMatcher]="matcher"
                placeholder="Ex. Johndoe@gmail.com"
                >
                  <!-- <mat-icon color="primary" matSuffix>person_outlined</mat-icon> -->
          <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-error
                    *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    <mat-icon >error</mat-icon>Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      <mat-icon >error</mat-icon>Please enter your email address
                    </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
            <mat-label>Enter your password</mat-label>
                <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput placeholder="Password" [errorStateMatcher]="matcher">
                  <button color="primary" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide     password'" [attr.aria-pressed]="hide">
                    <mat-icon class="material-icons-outlined">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                      <mat-icon >error</mat-icon>Please input your password
                    </mat-error>
        </mat-form-field>
        <div class="center">
          <div class="cf-turnstile" data-sitekey="0x4AAAAAAAEjQtZ3x1cM9ckW" data-theme="light"></div>
        </div>
        <button  mat-button color="primary" class="button-a-link" [routerLink]="['/forgot-password']">Forgot Password</button>

        <div class="create-and-login">

            <button type="button" mat-button  color="primary" [routerLink]="['/register']">Create account</button>
            <button mat-flat-button color="primary" >Login</button>

        </div>


  </form>
  <div class="tc-and-pp">
    <a mat-button >Privacy</a>
    <a mat-button >Terms</a>

  </div>

  </mat-card>

