<h1 class="tab-title"> Research Capsules
</h1>

<div class="search-flex-end">
<mat-form-field appearance="outline" color="primary">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. John doe" #input />
  <mat-icon color="primary" mat-icon-button matSuffix>search</mat-icon>
</mat-form-field>
</div>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort id="table-report">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-th">ID</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-th">Research Title</th>
      <td mat-cell *matCellDef="let row">
      <span class="research-title">{{ row.title }}</span>
      </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="by">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-th">Submitted By</th>
      <td mat-cell *matCellDef="let row" >
      <div class="submitted-by">
        <img class="submitted-by-img" [src]="!!row.user?.photo ? getFileLink(row.user?.photo) : 'assets/icons/user.png'" alt="user" />

        <div class="submitted-by-info">
          <span class="submitted-by-fullname">{{ row.user.firstName }} {{ row.user.lastName }}</span>
          <span class="submitted-by-email"> {{ row.user.email }} </span>
        </div>
      </div>
      </td>
    </ng-container>

    <!-- Name Column -->


    <!-- Fruit Column -->



   <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-th">Status</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{
          'Completed': row.status === 'Completed',
          'Unassigned': row.status === 'Unassigned',
          'Revision': row.status === 'Revision',
          'Assigned': row.status === 'Assigned',
          'Incomplete': row.status === 'Incomplete'}">
        <span class="research-capsule-status {{ row.status }}">{{ row.status }}
        <mat-icon class="material-icons-outlined" *ngIf="row.status === 'Completed'">assignment_turned_in</mat-icon>
        <mat-icon class="material-icons-outlined" *ngIf="row.status === 'Unassigned'">assignment_late</mat-icon>

        <mat-icon class="material-icons-outlined" *ngIf="row.status === 'Under Revision'">assignment_return</mat-icon>


            <!-- incomplete  nalang ipalit or pag nag tatlo yung under revision tsaka palang to alabas-->


         <mat-icon class="material-icons-outlined" *ngIf="row.status === 'Incomplete'">rule</mat-icon>



        <mat-icon class="material-icons-outlined" *ngIf="row.status === 'Assigned'">assignment_ind</mat-icon>
           <!-- etong assigned pederin wag na tangalin pero ang function nya pag wala pang ginagalaw or wala pang nag grade or revision-->

      </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="submittedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-th">Submitted Date</th>
      <td mat-cell *matCellDef="let row">
        <span class="submitted-date">{{row.created_at}}</span>
      </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-th">Actions</th>
      <td mat-cell *matCellDef="let row">
        <div class="actions">


        <button mat-button (click)="openViewModal(row)">
          <mat-icon class="material-icons-outlined">wysiwyg</mat-icon> View
        </button>

        <button mat-button *ngIf="ifMax(row) == false" (click)="openAssignModal(row.id)">
          <mat-icon class="material-icons-outlined">assignment_ind</mat-icon>
          Assigned
        </button>

        <button mat-button *ngIf="ifMax(row) == true" (click)="max()"  class="assigned-reviewers-completed"><mat-icon class="material-icons-outlined">assignment_ind</mat-icon> Assigned</button>
        </div>
      </td>



    </ng-container>

    <!-- <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-th"></th>
      <td mat-cell *matCellDef="let row">
        <a
          href="{{ row.research_file }}"
          download="{{ row.title }}"
          target="_blank"
          >Download</a
        >
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6">
        <div *ngIf="!input.value" class="no-search-found-container">
          <img class="no-search-found" src="assets/animations/no-search-found.svg">
          <span class="no-search-found-text">No data is yet available in the table</span>
        </div>
        <div *ngIf="input.value" class="no-search-found-container">
          <img class="no-search-found" src="assets/animations/no-search-found.svg">
          <span class="no-search-found-result">{{ input.value }}</span>
        </div>
      </td>
    </tr>
  </table>
  <br />
  <br />
  <mat-paginator [pageSizeOptions]="[9, 20, 30]"
  showFirstLastButtons
  aria-label="Select page of periodic elements">
</mat-paginator>
<button mat-button color="primary" onclick="window.print()">
  <mat-icon color="primary">print</mat-icon>  Generate Report</button>

</div>
<mat-spinner id="spinner" *ngIf="isLoading == true"></mat-spinner>




<app-modal *ngIf="viewModalShow">
  <div body>

    <div class="capsule-pdf-container">
      <div class="capsule-pdf">
        <iframe [src]="getFileLink(capsuleDetails.research_file)" width="100%" height="100%" frameborder="0"></iframe>
      </div>

      <div class="capsule-details">
          <span class="capsule-title">{{ capsuleDetails.title }}</span>
          <div class="capsule-author-container">
              <img class="capsule-author-profile" [src]="!!capsuleDetails.user?.photo ? getFileLink(capsuleDetails.user?.photo) : 'assets/icons/user.png'" alt="user" />
              <div class="capsule-author-email">
                <span class="capsule-author">{{ capsuleDetails.user?.firstName }}
              {{ capsuleDetails.user?.lastName }}</span>
                <span class="capsule-email">{{ capsuleDetails.user?.email }}</span>
            </div>
          </div>
          <span class="capsule-description">{{ capsuleDetails.description }}</span>
          <!-- <p>Research File: {{ capsuleDetails.research_file }}</p> -->


           <!-- Reviewer side</p> -->
          <span class="assigned-reviewers">Assigned Reviewers:<mat-icon>assignment_ind</mat-icon></span>

          <ul >
          <li class="assign-reviewer-container" *ngFor="let review of capsuleDetails.reviews">
            <div class="assign-reviewer-profile-container">
              <img class="assign-reviewer-profile" [src]="!!review.user?.photo ? getFileLink(review.user?.photo) : 'assets/icons/user.png'"   alt="user" />
              <div class="assign-reviewer-name-email">
                  <span class="assign-reviewer-name"> {{review.user?.firstName}} {{review.user?.lastName}}</span>
                  <span class="assign-reviewer-email"> {{review.user?.email}}</span>
              </div>



              <!-- <span class="assign-reviewer-grade">{{!!review.grade ? review.grade : '--'}}</span> -->
              <ng-container *ngIf="review.grade === 0; else otherStatus">
                <span class="assign-reviewer-grade under-revision">Revision</span>
              </ng-container>

              <ng-template #otherStatus>
                <span *ngIf="review.grade; else noGrade" class="assign-reviewer-grade">{{ review.grade }}</span>
                <ng-template #noGrade>
                  <span class="assign-reviewer-grade ungraded">Grading</span>
                </ng-template>
              </ng-template>
              <!-- <ng-container *ngIf="capsuleDetails.status === 'Under Revision'; else otherStatus">
                <span class="assign-reviewer-grade under-revision">{{ capsuleDetails.status }}</span>
              </ng-container>

              <ng-template #otherStatus>
                <span *ngIf="review.grade; else noGrade" class="assign-reviewer-grade">{{ review.grade }}</span>
                <ng-template #noGrade>
                  <span class="assign-reviewer-grade ungraded">Grading</span>
                </ng-template>
              </ng-template> -->




            </div>

            <span class="comment">Comment:</span>
              <span class="assign-reviewer-comment">
                {{!!review.comment ? review.comment : 'No comment yet...'}}
              </span>

            </li>

        </ul>

            <!-- <ul *ngFor="let reviewer of capsuleDetails.reviews">
                  <span>Full name: {{ reviewer.user?.firstName }}
                  {{ reviewer.user?.lastName }}
                   </span>
                  <span> Email: {{ reviewer.user?.email }}</span>
                  <span>Grade: {{ reviewer.grade }}</span>
                  <p>Comment: {{ reviewer.comment }}</p>
            </ul> -->
      </div>


      <div footer class="dialog-footer">
        <button mat-icon-button (click)="closeViewModal()"><mat-icon>close</mat-icon></button>
        </div>
    </div>





  </div>
</app-modal>

<app-modal [title]="'Assign Reviewers'" id="assign-modal" *ngIf="assignModalShow">

    <form body [formGroup]="assignForm">
      <span class="dialog-header">Assign Reviewers</span>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select formControlName="reviewer" [errorStateMatcher]="matcher" >
          <mat-option
            *ngFor="let reviewer of availableReviewers"
            [value]="reviewer.id">
            {{ reviewer.firstName }} {{ reviewer.lastName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

  <div footer class="dialog-footer-container">
    <button mat-button class="decline" (click)="closeAssignModal()">cancel</button>
    <button mat-button class="accept" (click)="assignReviewer(assignForm.value)">Assigned</button>
  </div>
</app-modal>
