<!-- <app-side-nav></app-side-nav> -->

<div class="main-container">
  <h1 class="tab-title">Profile</h1>

  <div class="profile-container">
    <div class="profile-nav">
      <div class="profile-nav-actions">
        <button mat-button [routerLink]="['/profile']">Edit Profile</button>
        <button mat-button [routerLink]="['/profile/change-password']">Change password</button>
      </div>
    </div>

    <div class="profile-info">

        <form [formGroup]="changePasswordGroup" (ngSubmit)="updatePassword(changePasswordGroup.value)">
          <h2 class="inside-tab-title">Change Password</h2>


            <div>
              <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                <mat-label>Enter your current password</mat-label>
                <input matInput type="password" formControlName="passwordOldControl" name="passwordOldControl"/>
                <mat-error *ngIf="passwordOldControl.hasError('required')">
                  Old password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>


            <div>
              <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                <mat-label>Enter your new password</mat-label>
                <input matInput type="password" formControlName="passwordControl" name="passwordControl"/>
                <mat-error *ngIf="passwordControl.hasError('pattern') && !passwordControl.hasError('required')">
                  <mat-icon>error</mat-icon>Please enter a password with at least 8 characters, containing letters, numbers, & symbols.
                </mat-error>
                <mat-error *ngIf="passwordControl.hasError('required')">
                  New password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>


            <div>
              <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                <mat-label>Re-enter your new password</mat-label>
                <input matInput type="password" formControlName="passwordConfirmControl" name="passwordConfirmControl"/>
                <mat-error *ngIf="passwordConfirmControl.hasError('required')">
                  Please re-enter your <strong>password</strong>
                </mat-error>
              </mat-form-field>
            </div>



          <div class="buttons">

            <button type="submit" mat-flat-button color="primary">
              Change Password
            </button>
          </div>
        </form>



    </div>
  </div>
</div>
<mat-spinner id="spinner" *ngIf="isLoading"></mat-spinner>
