
<nav class="sidebar" [ngClass]="{closed: !isNavOpen}">

  <header>
    <div class="image-text">
        <img class="image" src="assets/icons/logo.svg" alt="">

      <div class="text logo-text">
          <img class="name" src="assets/icons/menu-icon.svg" >
          <!-- <span class="profession" >Review System</span>
          <span class="mini-name" >Bulsu</span> -->
      </div>
  </div>





  <button mat-icon-button class="toggle" color="primary" (click)="isNavOpen = !isNavOpen" matTooltip="{{ isNavOpen ? 'Close' : 'Open' }}">
  <mat-icon class="icon">{{ isNavOpen ? 'close' : 'menu' }}</mat-icon>
</button>
</header>


  <div class="menu-bar">
    <div class="menu">

            <ul *ngIf="level == 0" class="menu-links">

              <li class="nav-link" [ngClass]="{ active: currentRoute === '/profile' }" >
                  <a  [routerLink]="['/profile']" >
                    <div class="icon"><mat-icon class="material-icons-outlined" color="primary" matTooltipPosition="right" matTooltip="Profile">person</mat-icon></div>
                    <span >Profile</span>
                  </a>
              </li>

              <li class="nav-link" [ngClass]="{ active: currentRoute === '/admin/dashboard' }">
                  <a  [routerLink]="['/admin/dashboard']">
                    <div class="icon"><mat-icon class="material-icons-outlined" color="primary" matTooltipPosition="right" matTooltip="Dashboard">space_dashboard</mat-icon></div>
                    <span color="primary">Dashboard</span>
                  </a>
              </li>

              <li class="nav-link" [ngClass]="{ active: currentRoute === '/admin/new-faculty' }">
                  <a [routerLink]="['/admin/new-faculty']">
                    <div class="icon"><mat-icon class="material-icons-outlined" color="primary" matTooltipPosition="right" matTooltip="New Faculty">person_add</mat-icon></div>
                    <span color="primary">New Faculty</span>
                  </a>
              </li>

              <li class="nav-link" [ngClass]="{ active: currentRoute === '/admin/registered-faculty' }">
                  <a [routerLink]="['/admin/registered-faculty']">
                    <div class="icon"> <mat-icon class="material-icons-outlined" color="primary" matTooltipPosition="right" matTooltip="Registered Faculty">how_to_reg</mat-icon></div>
                    <span color="primary">Registered Faculty</span>
                  </a>
              </li>

              <li class="nav-link" [ngClass]="{ active: currentRoute === '/admin/capsule' }">
                  <a  [routerLink]="['admin/capsule']">
                    <div class="icon"> <mat-icon class="material-icons-outlined" color="primary" matTooltipPosition="right" matTooltip="Research Capsules">local_library</mat-icon></div>
                    <span color="primary">Research Capsules</span>
                  </a>
              </li>

            </ul>




            <ul *ngIf="level == 1" class="menu-links">
              <li class="nav-link"  [ngClass]="{ active: currentRoute === '/profile' }">
                  <a  [routerLink]="['/profile']">
                    <div class="icon"><mat-icon class="material-icons-outlined" color="primary" matTooltipPosition="right" matTooltip="Profile">person</mat-icon></div>
                    <span color="primary" color="primary">Profile</span>
                  </a>
              </li>
              <li class="nav-link" [ngClass]="{ active: currentRoute === '/faculty/assigned-research' }">
                  <a  [routerLink]="['faculty/assigned-research']">
                    <div class="icon"><mat-icon class="material-icons-outlined" color="primary" matTooltipPosition="right" matTooltip="Assigned Research">assignment_ind</mat-icon></div>
                    <span color="primary">Assigned Research</span>
                  </a>
              </li>
              <li class="nav-link"  [ngClass]="{ active: currentRoute === '/faculty/submitted-research' }">
                  <a  [routerLink]="['faculty/submitted-research']">
                    <div class="icon"><mat-icon class="material-icons-outlined" color="primary" matTooltipPosition="right" matTooltip="Submitted Research">import_contacts</mat-icon></div>
                    <span color="primary">Submitted Research</span>
                  </a>
              </li>
            </ul>
    </div>






  <div class="bottom-content">
    <li class="nav-link"class="">
      <a class="icon" class="" (click)="logout()">
        <div class="icon"> <mat-icon class="material-icons-outlined" color="primary" matTooltipPosition="right" matTooltip="Logout">logout</mat-icon></div>
        <span color="primary">Log out</span>
    </a>
    </li>

</div>



  </div>
</nav>

