<div class="error-not-found-container">

    <img class="error-not-found-image" src="assets/icons/404.svg" alt="404 image" title="404 image" />
    <span class="error-not-found-title">Oops! Page not found</span>

    <span class="error-not-found-text">We're sorry, but the page you're looking for could not be found. It may have been moved, deleted, or never existed in the first place.</span>


    <div class="error-not-found-buttons-container">

       <button mat-flat-button color="primary"  [routerLink]="['']" title="home url">
            Go back home
          </button>
        <button mat-stroked-button  [routerLink]="['']" title="home url">
            Contact Us
          </button>

    </div>

</div>

